html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.auth-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.auth-card {
    display: flex;
    width: 850px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Imagen */
.auth-image {
    width: 50%;
    height: 100%;
}

    .auth-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Formulario */
.auth-form {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .auth-form h2 {
        font-size: 32px;
        margin-bottom: 25px;
        color: #333;
    }

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

    .form-group label {
        font-size: 14px;
        margin-bottom: 6px;
        color: #333;
    }

    .form-group input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

/* Botón */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    background: #4A90E2;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

    .btn:hover {
        background: #357ABD;
    }
