@model Busticket.Models.Ruta

@{
    ViewBag.Title = "Crear Ruta";
}

<h2 class="text-2xl font-bold mb-4">Crear nueva ruta</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">

    <div class="mb-4">
        <label>Origen</label>
        <input asp-for="Origen" class="border p-2 w-full" />
        <span asp-validation-for="Origen" class="text-red-600"></span>
    </div>

    <div class="mb-4">
        <label>Destino</label>
        <input asp-for="Destino" class="border p-2 w-full" />
        <span asp-validation-for="Destino" class="text-red-600"></span>
    </div>

    <div class="mb-4">
        <label>Precio</label>
        <input asp-for="Precio" class="border p-2 w-full" />
        <span asp-validation-for="Precio" class="text-red-600"></span>
    </div>

    <div class="mb-4">
        <label>Imagen de la ruta</label>
        <input type="file" name="imagen" class="border p-2 w-full" />
    </div>

    <button type="submit" class="px-6 py-2 bg-blue-600 text-white rounded">
        Crear Ruta
    </button>

</form>
